In [1]:
import pandas as pd
import sweetviz as sv
import numpy as np
import matplotlib.pyplot as plt
#from matplotlib.pyplot import *
#import seaborn as sb
#from sklearn.cluster import KMeans
#from sklearn.metrics import pairwise_distances_argmin_min
#from sklearn.metrics import silhouette_score
#from scipy.spatial.distance import cdist
import os
%matplotlib inline
%config IPCompleter.greedy=True
plt.rcParams['figure.figsize'] = (16, 9)
plt.style.use('ggplot')

file2017 = 'Data/Base_2017.xlsx';
file2018 = 'Data/Base_2018.xlsx';
file2019 = 'Data/Base_2019.xlsx';

In [2]:
df2017AC = pd.read_excel(file2017)
df2017AC.head()

,id,Dia,Fecha,MES_PROCESADO,Oficina,GravedadCod,GravedadNombre,ClaseCodigo,ClaseNombre,ChoqueCodigo,...,CON_CARGA,CON_EMBRIAGUEZ,CON_HUECOS,CON_MENORES,CON_MOTO,CON_PEATON,CON_PERSONA_MAYOR,CON_RUTAS,CON_TPI,CON_VELOCIDAD
0,1,LUNES,2017-01-09,ENERO,11001000,3,Solo Daños,1,Choque,1.0,...,NO,NO,NO,NO,NO,NO,SI,NO,NO,NO
1,2,MIÉRCOLES,2017-01-04,ENERO,11001000,3,Solo Daños,1,Choque,1.0,...,NO,NO,NO,NO,NO,NO,SI,NO,SI,NO
2,3,SÁBADO,2017-01-28,ENERO,11001000,3,Solo Daños,1,Choque,1.0,...,NO,NO,NO,NO,NO,NO,NO,NO,NO,NO
3,4,DOMINGO,2017-02-05,FEBRERO,11001000,3,Solo Daños,1,Choque,1.0,...,NO,NO,NO,NO,SI,NO,SI,NO,NO,NO
4,5,DOMINGO,2017-02-05,FEBRERO,11001000,2,Con Heridos,1,Choque,1.0,...,SI,NO,NO,NO,NO,NO,NO,NO,NO,NO

# Analisis de datos Cuantitativos

In [3]:
df2017AC.describe()

,id,Oficina,GravedadCod,ClaseCodigo,ChoqueCodigo,ObjetoFijoCodigo,OtraClase,Latitud,Longitud,NumeroVia2,Complemento,HORA_PROCESADA,Area,Sector,Zona,CoordenadaX,CoordenadaY
count,35170.00000,35170.0,35170.000000,35170.000000,30476.000000,989.000000,137.000000,35170.000000,35170.000000,35150.000000,35166.000000,35170.000000,35170.000000,35170.000000,35170.000000,35170.0,35170.0
mean,17585.50000,11001000.0,2.674268,1.206568,1.105362,4.701719,3.846715,183.805639,-2609.092238,59.954822,8.316442,12.807734,1.000142,1.555985,2.491925,0.0,0.0
std,10152.84882,0.0,0.500175,0.637263,0.558466,3.576663,0.483409,4808.168396,43789.634616,44.638150,17.702464,5.368207,0.011923,0.875877,1.194357,0.0,0.0
min,1.00000,11001000.0,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,-781336.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.0,0.0
25%,8793.25000,11001000.0,2.000000,1.000000,1.000000,2.000000,4.000000,0.000000,0.000000,22.000000,2.000000,9.000000,1.000000,1.000000,3.000000,0.0,0.0
50%,17585.50000,11001000.0,3.000000,1.000000,1.000000,3.000000,4.000000,0.000000,0.000000,57.000000,2.000000,13.000000,1.000000,1.000000,3.000000,0.0,0.0
75%,26377.75000,11001000.0,3.000000,1.000000,1.000000,9.000000,4.000000,0.000000,0.000000,81.000000,2.000000,17.000000,1.000000,3.000000,3.000000,0.0,0.0
max,35170.00000,11001000.0,3.000000,7.000000,5.000000,10.000000,4.000000,741275.000000,0.000000,748.000000,99.000000,23.000000,2.000000,3.000000,6.000000,0.0,0.0